/* =========================
   VARIABLES
========================= */
:root {
  --color-primario: #2563eb;
  --color-secundario: #7c3aed;
  --color-terciario: #10b981;

  --color-pendiente: #3b82f6;
  --color-progreso: #f59e0b;
  --color-completado: #10b981;

  --fuente-principal: 'Segoe UI', system-ui, sans-serif;

  --espacio-xs: 0.5rem;
  --espacio-sm: 1rem;
  --espacio-md: 1.5rem;
  --espacio-lg: 2rem;
}

/* =========================
   RESET GENERAL
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-principal);
}

/* =========================
   BODY
========================= */
body {
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* =========================
   TITULOS
========================= */
h1 {
  color: var(--color-primario);
  font-size: 2rem;
  margin: var(--espacio-md) 0;
}

h2 {
  color: var(--color-secundario);
}

/* =========================
   HEADER
========================= */
header {
  width: 100%;
  padding: var(--espacio-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c3aed;
 
}

/* =========================
   MAIN
========================= */
main {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espacio-lg);
}

/* =========================
   FORMULARIO
========================= */
form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--espacio-sm);
  padding: var(--espacio-lg);
  border: 2px solid var(--color-terciario);
  border-radius: 10px;
  background-color: #ffffff;
}

label {
  font-family: var(--fuente-principal);
  font-weight: bold;
}

#menu_ {
  display: flex;
  gap: var(--espacio-sm);
}

#menu_ input,
#menu_ button {
  flex: 1;
}

/* BOTÓN */
#btnAgregar {
  height: 3rem;
  background-color: var(--color-terciario);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#btnAgregar:hover {
  opacity: 0.9;
}

/* =========================
   KANBAN
========================= */
.board {
  display: flex;
  gap: var(--espacio-sm);
  width: 100%;
  justify-content: center;
}

.column {
  flex: 1;
  background: #f4f4f4;
  padding: var(--espacio-sm);
  border-radius: 10px;
  min-height: 300px;
}


/* =========================
   CARDS
========================= */
.card {
  background: white;
  padding: var(--espacio-sm);
  margin-bottom: var(--espacio-sm);
  border-radius: 6px;
  cursor: grab;
  border-left: 5px solid transparent;
}

/* PRIORIDADES */
.card.alta {
  border-left-color: red;
}

.card.media {
  border-left-color: orange;
}

.card.baja {
  border-left-color: green;
}