
/* Variables Profesor */
:root {

/* Colores principales */

--color-primario: #2563eb;

--color-secundario: #7c3aed;

--color-terciario: #10b981;

/* Colores de estado */  
--color-pendiente: #3b82f6;  
--color-progreso: #f59e0b;  
--color-completado: #10b981;  
 
/* Tipografía */  
--fuente-principal: 'Segoe UI', system-ui, sans-serif;  
--tamano-base: 16px;  
 
/* Espaciado */  
--espacio-xs: 0.5rem;  
--espacio-sm: 1rem;  
--espacio-md: 1.5rem;  
--espacio-lg: 2rem;  
}
* {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 16px;
 
}

body{
    margin: 0;
    background-color:#a4e9ee
 
}
h1{
    color: #2563eb;
    font-size: 25px;
}
h3{
    color: #7c3aed;
}
main {
    margin: 3rem;
}
main h1 {
    text-align: center;
}
form label{
    color:#7c3aed;
    margin: 0.5rem;

}
button{
    height: 3rem;
    width: 12rem;
    margin: 2rem;
}
header{
    margin: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    margin: 0.5rem;
    
}
form{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    
}
@media (max-width: 768px) {
  header {
    flex-direction: column; /* se apilan */
    align-items: flex-start;
  }}